@model HumanusHospital.Models.User
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Welcome to your dashboard @Html.DisplayFor(model => model.UserID)!</h2>
        <p><a class="btn btn-info" href='@Url.Action("Create", "Patient")'>Register Patient &raquo;</a></p>
        This is filler text. So is this. This is filler text. So is this.This is filler text. So is this.This is filler text. So is this.This is filler text. So is this.
    </div>
    <div class="col-md-4">
        <h2>Currently Finished Functionality</h2>
        <ul>- Patients can be registered to the database through the registration form.</ul>
        <ul>- Patient data can be sorted, searched (ID and last name), changed and deleted.</ul>
        <ul>- Patients can be assigned to a room which in turn is created and stored in the database.</ul>
        <ul>- Left the room interface in its default state as a comparison.</ul>
        <ul>- Customized layout based on a template from <a href="https://startbootstrap.com/template-overviews/simple-sidebar/">StartBootstrap</a></ul>
</div>
    <div class="col-md-4">
        <h2>To Do</h2>
        <ul>- Minor bug with sidebar menu: toggle doesn't go all the way despite fixes to css file.</ul>
    </div>
</div>