@model HumanusHospital.Models.User
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Welcome to your dashboard @Html.DisplayFor(model => model.UserID)!</h2>
        <p><a class="btn btn-info" href='@Url.Action("Create", "Patient")'>Register Patient &raquo;</a></p>
        This is filler text. So is this. This is filler text. So is this.This is filler text. So is this.This is filler text. So is this.This is filler text. So is this.
    </div>
    <div class="col-md-4">
        <h2>Current Functionality</h2>
        <ul>- Patients can be registered to the database through the registration form.</ul>
            <ul>- Patient data can be sorted, searched (ID and last name), changed and deleted.</ul>
       
    </div>
    <div class="col-md-4">
        <h2>To Do</h2>
        <ul>- A login form and functionality. Update: It's here but not quite functional (you can skip it, it doesn't really register when someone is logged in)</ul>
        <ul>- Customize design. Currently planning to try out <a href="https://startbootstrap.com/template-overviews/simple-sidebar/">this sidebar style</a> </ul>
    </div>
</div>